/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Main Content */
/*.main-content {
    padding: 30px;
    max-width: 80%;
    margin-left: 300px;
    margin-right: auto;
    transition: margin-left 0.3s ease-in-out;
}*/
.settings-container {
    padding: 30px;
    margin-left: 350px;
    max-width: 70%;
    margin-right: auto;
    transition: margin-left 0.3s ease-in-out;
    gap: 10px;
}

/* Section */
/*.section {
    background: #D8FFDE;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    min-height: 300px;
    width: 50%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}*/

.section1, .section2, .section3 {
    background: #D8FFDE;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.section1 {
    min-height: 370px;
}

.section2 {
    min-height: 320px;
}

.section3 {
    min-height: 200px;
}
/* Headings */
h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
h3 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 30px;
}

/* Form */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-group label {
    width: 150px;
    padding-left: 10px;
   
}
.form-group input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #a3d89d;
    border-radius: 5px;
    font-size: 14px;
    transition: border 0.3s;
    background: white;
}
.form-group input:focus {
    border-color: #62b962;
    outline: none;
}

/* Button */
.save-btn {
    background: #74E685;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    float: right;
}
.save-btn:hover {
    background: #45a049;
}
.delete-btn {
    background: #dc3545;
    color:white;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    float: right;
}
.delete-btn:hover {
    background: #c82333;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}
.modal-buttons {
     margin-top: 20px;
     }
.modal-buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.modal-delete {
     background: #dc3545; 
     color: white;
     }
.modal-cancel { 
    background: #6c757d;
     color: white; 
    }
.modal-delete:hover {
        background: #c82333; 
        color: white;
        }
.modal-cancel:hover {
        background: #4d5358; 
        color: white;
            }